Options -MultiViews
RewriteEngine On
RewriteBase /startrek/series
RewriteRule index.phps index.phps.php
RewriteRule index.jsonld series.jsonld
# RewriteCond %{REQUEST_URI} !index.php$
# RewriteCond %{REQUEST_URI} !\.jsonld$
# RewriteCond %{REQUEST_URI} !\.css$
# RewriteCond %{REQUEST_URI} !\.svg$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.+)$ index.php?series=$1
